@media (max-width: 768px) and (max-width: 992px){
    .login-box-responsive {
        width: 90%;
        margin: 3% auto;
    }
}

@media (min-width: 768px) {
    .login-box-responsive {
        width: 50%;
        margin: 3% auto;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .login-box-responsive {
        width: 90%;
        margin: 3% auto;
    }
}



.desc {  height: 200px;  }